@import '/src/assets/stylesheets/general_mixins.scss';
@import '/src/assets/stylesheets/variables.scss';

.banner-login {
  @include flex(flex, column, wrap, center, flex-start);
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: 50% 20%;
  position: relative;
  top: -120px;
  margin-bottom: -8%;

  &__info {
    width: 60%;
    padding: 0 4%;
    text-align: left;
  }

  &__title {
    font-size: 7rem;
  }

  &__description {
    font-size: 1.8rem;
  }
}