@import '/src/assets/stylesheets/general_mixins.scss';
@import '/src/assets/stylesheets/variables.scss';

.banner-login {
  background:linear-gradient(to top,rgba(0,0,0,1) 0,rgba(0,0,0,0.4) 60%,rgba(0,0,0,.9) 100%), url("https://image.tmdb.org/t/p/original//1g0dhYtq4irTY1GPXvft6k4YLjm.jpg");
  @include flex(flex, column, wrap, center, flex-start);
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: 50% 20%;
  position: relative;
  top: -120px;

  &__info {
    width: 50%;
    padding: 0 4%;
    text-align: left;
  }
}