@import '/src/assets/stylesheets/general_mixins.scss';
@import '/src/assets/stylesheets/variables.scss';

.card {
  border-radius: 4px;
  margin-right: 1%;

  &__img {
    object-fit: cover;
    height: 240px;
    width: 160px;
  }
}