@import '/src/assets/stylesheets/general_mixins.scss';
@import '/src/assets/stylesheets/variables.scss';

.header {
  @include flex(flex, column, wrap, center, center);
  padding: 170px 0px;
  background-size: cover;
  width: 100%;
  background-position: 50% 50%;
  position: relative;

  @media (max-width: 768px) {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;;
  }


  &__title {
    color: $white-color;
    font-size: 5rem;
    width: 80%;
    line-height: 1.2;

    @media (max-width: 768px) {
      font-size: 2.5rem;
    }
  }

  &__subtitle {
    color: $white-color;
    font-size: 2.6rem;
    font-weight: 500;
    margin-bottom: 30px;

    @media (max-width: 768px) {
      font-size: 1.7rem;
    }
  }

  &__text {
    color: $white-color;
    font-size: 1.9rem;
    font-weight: 500;

    @media (max-width: 768px) {
      font-size: 1.7rem;
    }
  }

  &__form {
    width: 50%;
    margin-top: 25px;

    @media (max-width: 768px) {
        width: 100%;
      }
  }
}