@import '/src/assets/stylesheets/general_mixins.scss';
@import '/src/assets/stylesheets/variables.scss';

.my-movie {
  @include flex(flex, row, wrap, center, center);
  text-align: left;
  border: solid 1px $white-color;
  padding: 0 30px;
  margin-top: 15px !important;

  @media (max-width: 768px) {
    width: 90% !important;
    margin: 15px auto !important;
    padding: 25px 0px !important;
  }

  &__title {
    width: 15%;

    @media (max-width: 768px) {
      width: 100%;
      padding: 0 5%;
    }
  }

  &__description {
    width: 35%;
    padding: 0 10px;

    @media (max-width: 768px) {
      width: 100%;
      padding: 0 5%;
      font-size: 1.6rem;
    }
  }

  &__cover {
    @include flex(flex, row, wrap, center, center);
    width: 30%;
    text-align: center;

    @media (max-width: 768px) {
      width: 100%;
      padding: 0 5%;
      margin: 15px 0px;
    }
  }

  &__image {
    height: 150px;
    width: 100%;
    object-fit: cover;
  }

  &__btns {
    @include flex(flex, row, wrap, space-evenly, center);
    width: 20%;

    @media (max-width: 768px) {
      width: 100%;
      padding: 0 5%;
    }
  }

  &__edit {
    @include btn($primary-color, $white-color);
    width: 80%;
    margin: 5px 0px
  }

  &__delete {
    @include btn-border($black-color, $white-color);
    width: 80%;
    margin: 5px 0px
  }
}