@import '/src/assets/stylesheets/general_mixins.scss';
@import '/src/assets/stylesheets/variables.scss';

.first-banner {
  background:linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0.4) 60%,rgba(0,0,0,.9) 100%), url('../../assets/images/home-background.jpg');
  border-bottom: solid 8px $grey-color;
  background-size: cover;
  top: -120px;
  position: relative;
  z-index: 0;
}



.faqs {
  padding: 75px 0px;
  border-bottom: solid 8px $grey-color;

  &__title {
    font-size: 5rem;
    margin-bottom: 30px;

    @media (max-width: 768px) {
      font-size: 2.6rem;
    }
  }

  &__info {
    padding-top: 50px;
    padding-bottom: 15px;
  }

  &__register {
    width: 70%;
    margin: 0 auto;

    @media (max-width: 768px) {
      width: 90%;
    }
  }
}

